<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="login-box">
    <h2>Reset Password</h2>
    <form action="/users/reset-password" method="POST">
      <div class="user-box">
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <div class="user-box">
        <input type="password" name="password" placeholder="New Password" required>
      </div>
      <div class="user-box">
        <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
      </div>
      <button style="background-color: #243b55;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Change Password
      </button>
    </form>
    <div class="extra" style="margin-top: 30px;">
        <a href="/users/sign-in">Already have an account?</a><br/>
        <a href="/users/sign-up">Don't have an account?</a>
    </div>
  </div> 