<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="login-box">
    <h2>Login</h2>
    <form action="/users/create-session" method="POST" class="form">
      <div class="user-box">
        <input type="email" name="email" placeholder="Username"  required>
      </div>
      <div class="user-box">
        <input type="password" name="password" placeholder="Password"  required>
      </div>
      <button style="background-color: #243b55;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
    <div class="extra" style="margin-top: 30px;">
        <a href="/users/forget-password"> Forget Password?</a>
        <a href="/users/sign-up">Don't have an account?</a>
    </div>
  </div> 